<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275977589137-ksqg92kulom4vgbij74dieaict3hqlos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275977589137-ksqg92kulom4vgbij74dieaict3hqlos</string>
	<key>API_KEY</key>
	<string>AIzaSyBDQJabiYy--hPjm1fJ5xii__ycOU7NbJw</string>
	<key>GCM_SENDER_ID</key>
	<string>275977589137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Zomato</string>
	<key>PROJECT_ID</key>
	<string>zomato-e0030</string>
	<key>STORAGE_BUCKET</key>
	<string>zomato-e0030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275977589137:ios:b52deeb2d4e3dc49b40a30</string>
</dict>
</plist>